// Import fonts

@import url('../config/chillax.css');

// Define fonts for body and headers
$body-font: "Chillax-Regular", "Helvetica", "sans-serif";
// $headers-font: "Figtree", "Helvetica", "sans-serif";
$headers-font: "Chillax-Semibold", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


@font-face {
  font-family: 'Chillax-Semibold';
  src: url('Chillax/Chillax-Semibold.woff2') format('woff2'),
       url('Chillax/Chillax-Semibold.woff') format('woff'),
       url('Chillax/Chillax-Semibold.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'Chillax-Regular';
  src: url('Chillax/Chillax-Regular.woff2') format('woff2'),
       url('Chillax/Chillax-Regular.woff') format('woff'),
       url('Chillax/Chillax-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}
